.backgroundImage {
    background-image: url('../../../public/images_for_decoration/background.jpg'); /* Replace with your actual background image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* make the image all over the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center; /* align the text to the center */
  }

#sign-in {
    /*set all the font sizes and the position of the button*/
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /*the cursor changes when you hover on the botton*/
    transition: background-color 0.3s ease; /*make the transition to the focus slower*/
}
button:hover {
    background-color: darkred; /* Slightly darker red when hovering on the button */
}

#register {
    width: 200px;
    height: 40px;
    font-size: 18px;
}


.logoDisconnect {
    position: absolute;
    top: 20px;
    left: 20px;
    color: red;
    font-weight: bold;
    font-size: 32px;
}

